[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brightside = {editable = true,path = "."}

[dev-packages]
ez_setup = "*"
pytest-env = "*"
pylint = "*"
mock = "*"
poll = "*"
autopep8 = "*"
psycopg2 ="*"
twine = "*"
