[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
eventlet = "*"
kombu = "*"
mock = "*"
poll = "*"
"psycopg2" = "*"
ez_setup = "*"
SQLAlchemy = "*"
pytest-env = "*"

[dev-packages]

[requires]
python_version = "3.6"
