
-i https://pypi.org/simple
amqp==2.3.2
dnspython==1.15.0
eventlet==0.24.1
ez-setup==0.9
greenlet==0.4.15
kombu==4.2.1
mock==2.0.0
monotonic==1.5
pbr==5.4.5
poll==1.0
psycopg2==2.7.5
six==1.11.0
sqlalchemy==1.2.13
vine==1.1.4
